<div *ngIf="notFound" class="not-found">
    <mat-icon class="icon">error_outline</mat-icon>
    <p>Advertentie niet gevonden</p>
</div>

<div *ngIf="advert">
    <h2 class="title">{{advert.title}}</h2>
    <div class="category">{{getCategoryName(advert.category)}}</div>

    <p class="body">{{advert.body}}</p>

    <div class="photos-container" *ngIf="galleryItems.length > 0">
        <h3 class="photos-title">Foto's</h3>
        <gallery class="gallery" [items]="galleryItems" [loop]="true" [thumb]="true"></gallery>
    </div>
</div>
